{
  "extends": "loris/es6",
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "ymaps": true
  },
  "rules": {
    "strict": ["error", "never"],
    "curly": [0, "multi"],
    "no-console": ["error", { "allow": ["error"] }],
    "no-implicit-globals": 0,
    "no-cond-assign": 0
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
