.legend {
    width: 300px;
    height: 30px;
    font-size: 0;
}

.legend__color {
    position: relative;
    display: inline-block;
    width: 33%;
    height: 100%;
}

.legend__color:hover .legend__tooltip {
    display: block;
}

.legend__tooltip {
    display: none;
    position: absolute;
    top: -25px;
    left: -5px;             
    min-width: 150px;
    text-align: left;
    transition: All .3s ease;
}

.legend__tooltip__inner {
    padding: 5px 10px;
    color: #222;
    background: #fff;
    border-radius: 15px;
    font-size: 14px;
    border: 1px solid #666;
}